[Unit]
Description=PHP8.2 FastCGI Process Manager
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --publish 9000:9000/tcp \
              --mount type=bind,source="/srv",target="/srv" \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --name php82-fpm \
              hetsh/php82-fpm
ExecStart=/bin/docker start --attach php82-fpm
ExecStop=/bin/docker stop php82-fpm

[Install]
WantedBy=multi-user.target
